{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="card" style="max-width:420px">
  {% if error %}
    <div style="color:#f87171; margin-bottom:10px">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  <form method="post" action="{{ path('app_login') }}" style="display:flex; flex-direction:column; max-width:420px;">
    {% if app.user %}
      <div style="margin-bottom:10px; color:#34d399">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
      </div>
    {% endif %}
    <label>Email</label>
    <input type="email" name="email" value="{{ last_username|default('') }}" required autofocus>

    <label style="margin-top:8px">Password</label>
    <input type="password" name="password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn" style="margin-top:12px; margin-inline:180px">Sign in</button>
  </form>
</div>
{% endblock %}
