{% extends 'base.html.twig' %}

{% block title %}LeagueConfig index{% endblock %}

{% block body %}
    <h1>LeagueConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProviderLeagueId</th>
                <th>Name</th>
                <th>Country</th>
                <th>SeasonsActive</th>
                <th>Enabled</th>
                <th>SortOrder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for league_config in league_configs %}
            <tr>
                <td>{{ league_config.id }}</td>
                <td>{{ league_config.providerLeagueId }}</td>
                <td>{{ league_config.name }}</td>
                <td>{{ league_config.country }}</td>
                <td>{{ league_config.seasonsActive ? league_config.seasonsActive|json_encode : '' }}</td>
                <td>{{ league_config.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ league_config.sortOrder }}</td>
                <td>
                    <a href="{{ path('app_league_config_show', {'id': league_config.id}) }}">show</a>
                    <a href="{{ path('app_league_config_edit', {'id': league_config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_league_config_new') }}">Create new</a>
{% endblock %}
